{% extends "layout.html" %}

{% block content %}

<!-- <div id="heading_div">
    <p><strong>Rinkties kategoriją:</strong></p>
</div> -->


<div class="container">
    <div style="height: 300px">
    </div>

    <div class="row">
        <div class="col">
            <div class="container card">
                <div class='card-body text-center'>
                    <div class='card-text text-center'>
                        <p>{{ q | safe }}</p>
                        <p>{{ a | safe }}</p>
                    </div>
                    <div class='btn btn-lg btn-primary text-center mt-3'>
                        <a href="{{ url_for('home') }}" style="color: white"> Grįžti į pradžią. </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}
